@import 'styles/Variables';

.wrapper {
  display: grid;
  gap: $spacing4;

  strong,
  p {
    font-size: $font-small;
  }

  strong {
    display: block;
    margin-bottom: $spacing2;
  }

  .buttons {
    display: grid;
    gap: $spacing4;
    grid-auto-flow: column;
    justify-self: end;
  }
}
