@import 'styles/Variables';

.wrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: $spacing9 $spacing10;
  border-bottom: $border-light;
  top: 0;
  left: 0;
  background-color: $white;

  &.bar {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: $spacing10;
  }

  &.streak,
  &.calendar {
    display: grid;
    justify-content: center;
  }

  &.none {
    display: grid;
  }
}

.rewards-section {
  width: 100vw;

  @media screen and (min-width: $tablet) {
    // 100vw(screen) - 91px(nav) - 3rem(padding) - 3rem(padding)
    width: calc(100vw - 91px - 3rem - 3rem);
  }

  @media screen and (min-width: 850px) {
    // 100vw(screen) - 91px(nav) - 3rem(padding) - 315px(calendar) - 3rem(gap) - 3rem(padding)
    width: calc(100vw - 91px - 3rem - 315px - 3rem - 3rem);

    &.one-reward {
      display: grid;
      justify-content: end;
    }
  }

  .title {
    margin-bottom: $spacing5;
    text-align: center;

    @media screen and (min-width: $tablet) {
      text-align: initial;
    }
  }

  .rewards {
    display: grid;
    gap: $spacing4;
    justify-content: start;
    grid-auto-flow: column;
    overflow: auto;
    // Center the first and last rewards
    padding: 0 calc(50vw - 150px);

    @media screen and (min-width: $tablet) {
      padding: 0;
    }
  }

  .reward-button {
    display: grid;
    justify-content: center;
    margin-top: $spacing6;
  }
}
