@import 'styles/Variables';

.wrapper {
  display: grid;
  gap: $spacing4;

  .top {
    display: grid;
    gap: $spacing2;

    .title {
      @include underline;
      justify-self: start;
    }

    .description {
      font-size: $font-small;
    }
  }

  .sub-title {
    font-weight: $weight-bold;
    font-size: $font-small;
    margin-bottom: $spacing2;
  }

  .to-large {
    font-size: $font-extra-small;
    color: $red;
    margin-bottom: $spacing1;
  }

  .upload-image-wrapper {
    display: grid;
    gap: $spacing4;
    grid-template-columns: auto 1fr;

    label {
      height: 40px;
    }

    input[type='file'] {
      display: none;
    }

    img {
      object-fit: cover;
      border-radius: 100%;
      cursor: pointer;
    }

    .upload-image {
      display: grid;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      color: $green-dark;
      background-color: $green-light;
      border-radius: 100%;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: $green;
      }
    }
  }

  .cycles-slider-wrapper {
    display: grid;

    &.inactive {
      grid-template-columns: auto 1fr;
    }
  }

  .middle {
    display: grid;

    @media screen and (min-width: $tablet) {
      grid-template-columns: 1fr 65px auto 40px;
    }

    .mode-wrapper {
      span {
        font-size: $font-small;
      }

      .checkbox-wrapper {
        display: grid;
        gap: $spacing1;
        margin-bottom: $spacing2;
      }
    }
  }

  .bottom {
    display: grid;
    align-items: end;
    gap: $spacing4;

    @media screen and (min-width: $phone) {
      justify-content: space-between;
      grid-auto-flow: column;
    }

    .progress-circle {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: $spacing4;
      justify-self: start;

      p {
        font-size: $font-large;
      }

      .counter {
        font-size: $font-small;
        font-weight: $weight-bold;
      }
    }

    .buttons {
      display: grid;
      gap: $spacing4;
      grid-auto-flow: column;
      justify-self: end;
    }
  }
}
