@import 'styles/Variables';

.wrapper {
  display: grid;

  .content {
    overflow: auto;
    height: calc($app-height - 50px - 65px);
    padding: $spacing10 $spacing5 $spacing5;

    @media screen and (min-width: $tablet) {
      padding: 90px $spacing11 $spacing11;
    }
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: 1fr auto;

    .content {
      height: $app-height;
      overflow: auto;
    }
  }
}
