@import 'styles/Variables';

.wrapper {
  display: grid;

  .content {
    overflow: auto;
    height: calc($app-height - 50px - 65px);
    padding: $spacing10 $spacing5 $spacing5;
    display: grid;
    gap: $spacing9;
    align-content: start;

    .title {
      @include underline;
      font-size: $font-h3;
      justify-self: start;
      background-color: $white;
    }
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: 1fr auto;

    .content {
      height: $app-height;
      overflow: auto;
      padding: 90px $spacing11 $spacing11;

      .title {
        font-size: $font-h1;
      }
    }
  }
}
