@import 'styles/Variables';

.wrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: $spacing9 $spacing10;
  border-bottom: $border-light;
  top: 0;
  left: 0;
  background-color: $white;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.reward {
  width: 300px;

  .title {
    margin-bottom: $spacing5;
    text-align: center;

    @media screen and (min-width: $tablet) {
      text-align: initial;
    }
  }

  .scroll-wrapper {
    overflow: auto;
    height: 218px;

    .reward-wrapper {
      display: grid;
      gap: $spacing4;
    }
  }

  .no-rewards {
    font-size: $font-small;
  }
}
