@import 'styles/Variables';

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: $white;
  border: $border-light;

  .stat {
    text-align: center;
    padding: $spacing2 0;
    display: grid;
    gap: 0.1rem;

    span {
      font-size: $font-tiny;
    }

    p {
      font-size: $font-small;
      font-weight: $weight-bold;
    }

    &:not(:last-child) {
      border-right: $border-light;
    }
  }
}
