@import 'styles/Variables';

.wrapper {
  display: grid;
  gap: $spacing6;

  @media screen and (min-width: 1600px) {
    gap: $spacing8;
    grid-template-columns: 1fr 1fr;
  }

  .activities {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    gap: $spacing4;
  }
}
