@import 'styles/Variables';

.wrapper {
  display: grid;
  gap: $spacing4;

  h2 {
    margin-bottom: $spacing2;
  }

  p,
  strong {
    font-size: $font-small;
  }

  .button-wrapper {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: $spacing4;
  }
}
