@import 'styles/Variables';

.wrapper {
  display: grid;
  background-color: $white;
  border: $border;
  border-radius: $border-radius;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: $phone) {
    grid-template-columns: 1fr auto;
  }

  .content {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    align-content: center;
    gap: $spacing3;
    padding: $spacing3;

    @media screen and (min-width: $phone) {
      padding: $spacing4;
    }

    .icon-wrapper {
      background-color: $green-light;
      width: 43px;
      height: 43px;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      position: relative;

      .icon {
        background-color: $green;
        color: $white;
        width: 40px;
        height: 40px;
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: $font-large;
      }
    }

    .info {
      display: grid;
      p {
        font-size: $font-small;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      h3 {
        font-size: $font-paragraph;

        @media screen and (min-width: $phone) {
          font-size: $font-h3;
        }
      }
    }
  }

  .mobile-bar {
    height: 15px;
    width: 100%;
    background-color: $green;
    border-bottom: $border;
    transition: 0.2s;
  }

  .bar {
    width: 15px;
    height: 100%;
    background-color: $green;
    border-left: $border;
    transition: 0.2s;
  }

  &.selected {
    .bar {
      background-color: $green-dark;
    }
  }

  &.penalty {
    .bar,
    .mobile-bar {
      background-color: $red;
    }

    .icon-wrapper {
      background-color: $red-light;
      .icon {
        background-color: $red;
      }
    }

    &.selected {
      .bar {
        background-color: $red-dark;
      }
    }
  }
}
