@import 'styles/Variables';

.wrapper {
  display: grid;
  height: calc($app-height - 181px);
  overflow: auto;
  padding-top: $spacing11;
  justify-content: center;

  .element {
    width: 550px;

    @media screen and (min-width: $desktop-large) {
      width: 700px;
    }
  }
}

.content {
  width: 100%;
  display: grid;
  gap: $spacing5;

  .inactive-message {
    background-color: $red-light;
    padding: $spacing3;
    color: $red-dark;
    border-radius: $border-radius;
    text-align: center;
  }

  p,
  b {
    font-size: $font-small;
  }

  b {
    display: block;
    margin-bottom: $spacing2;
  }

  .activity-type {
    margin-bottom: $spacing1;
  }

  .description {
    margin-bottom: $spacing3;
  }

  .inactive {
    opacity: 0.4;
    pointer-events: none;
  }

  .icon-input {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: $spacing4;

    input {
      padding: 0 $spacing4;
    }
  }

  .preview-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .column-2 {
      width: 190px;
      display: grid;
      gap: 2px;
      justify-self: end;

      @media screen and (min-width: $phone) {
        width: 225px;
      }
    }
  }

  .pattern-wrapper {
    display: grid;
    gap: $spacing3;
  }

  .buttons {
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    margin-top: $spacing4;
    gap: $spacing4;
  }
}
