@import 'styles/Variables';

.wrapper {
  display: grid;
  height: calc($app-height - 181px);
  overflow: auto;
  padding-top: $spacing11;
  justify-content: center;

  .element {
    width: 700px;
  }

  .content {
    width: 100%;
    display: grid;
    gap: $spacing4;

    p,
    b {
      font-size: $font-small;
    }

    b {
      display: block;
      margin-bottom: $spacing2;
    }

    .description {
      margin-bottom: $spacing1;
    }

    .icon-input {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: $spacing4;

      input {
        padding: 0 $spacing4;
      }
    }

    .checkbox {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: $spacing4;
      cursor: pointer;
    }

    .preview-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .column-1 {
        width: 225px;
        display: grid;
        gap: 2px;
      }
    }

    .pattern-wrapper {
      display: grid;
      gap: $spacing3;
    }

    .buttons {
      display: grid;
      justify-content: end;
      grid-auto-flow: column;
      gap: $spacing4;
    }
  }
}
