@import 'styles/Variables';

.wrapper {
  display: grid;
  position: relative;
  gap: $spacing2;
  padding: $spacing4;

  .title {
    justify-self: start;
    font-weight: $weight-bold;
    @include underline-grey;
  }

  .description {
    max-width: 80%;
    font-size: $font-small;
  }
}
