@import 'styles/Variables';

.wrapper {
  display: grid;

  .app {
    height: calc($app-height - 65px);
    width: 100%;
    overflow: auto;
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: auto 1fr;
    justify-content: start;

    .app {
      height: initial;
      width: 100%;
      overflow: initial;
    }
  }
}
