@import 'styles/Variables';

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1px 120px;
  background-color: $white;
  border: $border;
  border-radius: $border-radius;
  position: relative;
  overflow: hidden;
  width: 296px;

  .relative-wrapper {
    position: relative;

    .image {
      position: relative;
      width: 100%;
      height: 120px;
      background-color: $black;
      z-index: 1;

      img {
        object-fit: cover;
      }

      .shade {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        background-color: rgba($black, 0.75);
        z-index: 2;
      }

      .content {
        position: relative;
        display: grid;
        align-content: start;
        grid-template-rows: auto 1fr auto;
        height: 100%;
        z-index: 3;
        padding: $spacing4;

        .name {
          font-size: $font-large;
          color: $white;
          margin-bottom: $spacing1;
          // limit the number of lines to 2
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .mode {
          font-size: $font-tiny;
          color: $green-light;

          svg {
            font-size: 9px;
          }
        }

        .status {
          background-color: $white;
          width: max-content;
          font-weight: $weight-semi-bold;
          font-size: $font-tiny;
          padding: 0.15rem $spacing2;
          border-radius: $border-radius;

          &.active,
          &.completed {
            background-color: $green-dark;
          }
        }
      }
    }
  }

  .bar {
    position: relative;
    width: 1px;
    height: 100%;
    background-color: $black;
  }

  .progress {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;

    .count-wrapper {
      position: relative;
      display: grid;
      justify-content: center;
      align-items: center;

      .flame {
        grid-column: 1;
        grid-row: 1;
        width: 30px;
      }

      .count {
        grid-column: 1;
        grid-row: 1;
        transform: translateY(8px);
        font-weight: $weight-bold;
        font-size: 13px;
        text-align: center;
        color: $white;
      }
    }

    .cycles-left {
      font-weight: $weight-bold;
      font-size: $font-tiny;
      width: 60px;
      text-align: center;

      &.completed {
        color: $green-dark;
      }
    }
  }
}
