@import 'styles/Variables';

.wrapper {
  display: grid;
  height: 181px;
  border-bottom: 1px solid $grey-light;
  background-color: $white;
  align-content: end;

  h2 {
    padding-bottom: $spacing6;
    padding-left: $spacing11;
  }
}
