@import 'styles/Variables';

.mobile-wrapper {
  display: grid;
  align-items: center;
  padding: 0 $spacing5;

  p {
    font-weight: $weight-bold;
  }
}

.wrapper {
  display: grid;
  height: 181px;
  border-bottom: 1px solid $grey-light;
  background-color: $white;
  align-content: end;

  h2 {
    padding-bottom: $spacing6;
    padding-left: $spacing11;
  }
}
