@import 'styles/Variables';

.wrapper {
  width: 365px;
  height: $app-height;
  background-color: $white;
  border-left: 1px solid $grey-light;
  padding: 90px $spacing8 $spacing8;
  overflow: auto;
}
