@import 'styles/Variables';

.wrapper {
  display: grid;
  background-color: $white;
  border: $border-light;
  gap: $spacing4;
  padding: $spacing4;
  height: max-content;

  @media screen and (min-width: $tablet) {
    padding: $spacing7 $spacing8;
    gap: $spacing6;
  }

  .top {
    display: grid;
    gap: $spacing2;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;

    .title {
      font-size: $font-small;
      font-weight: $weight-semi-bold;
      @include underline;

      @media screen and (min-width: $tablet) {
        font-size: $font-large;
      }
    }

    .sort {
      white-space: nowrap;
      justify-self: end;
      font-size: $font-small;
      cursor: pointer;

      svg {
        font-size: $font-extra-small;
        transform: translateY(-1px);
      }
    }

    .divider {
      height: calc(100% - 10px);
      width: 1px;
      background-color: $grey;
      transform: translateY(1px);
    }
  }

  .streaks {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    @media screen and (min-width: $desktop) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    gap: $spacing4;

    .no-streaks {
      font-size: $font-small;
    }
  }

  .show-more {
    font-size: $font-extra-small;
    font-weight: $weight-semi-bold;
    text-align: center;
    color: $green-dark;
  }
}
