@import 'styles/Variables';

.wrapper {
  display: grid;
  border: $border;
  border-radius: $border-radius;

  &.green {
    background-color: $white;
    .bar {
      background-color: $green;
    }
  }

  &.red {
    background-color: $white;
    .bar {
      background-color: $red;
    }
  }

  &.black {
    background-color: $white;
    .bar {
      background-color: $black;
    }
  }

  &.green-with-background {
    background-color: $green-light;

    .bar {
      background-color: $green-dark;
    }
  }

  &.red-with-background {
    background-color: $red-light;

    .bar {
      background-color: $red-dark;
    }
  }

  .bar {
    height: 15px;
    width: 100%;
    border-bottom: $border;
    transition: 0.2s;
  }

  .content {
    padding: $spacing7;
  }
}
