@import 'styles/Variables';

.wrapper {
  display: grid;
  width: 100%;
  height: 200px;
  border: $border-light;

  @media screen and (min-width: $desktop-large) {
    height: 400px;
    width: 100%;
  }
}
