@import 'styles/Variables';

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: $spacing4;
  cursor: pointer;

  &.big {
    .checkbox {
      width: 40px;
      height: 40px;

      svg {
        font-size: $font-h3;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }

  .checkbox {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    background-color: $green-light;
    color: $green;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 0.2s;

    &.penalty {
      background-color: $red-light;
      color: $red;
    }
  }
}
