@import 'styles/Variables';

.wrapper {
  width: 365px;
  height: $app-height;
  background-color: $white;
  border-left: 1px solid $grey-light;
  padding: 90px 0 $spacing8;
  overflow: auto;
  position: relative;

  .content {
    display: grid;
    gap: $spacing6;

    .calendar {
      padding: 0 1.4rem;
    }

    .rewards-section {
      padding: 0 $spacing8;

      .title {
        margin-bottom: $spacing4;
      }

      .rewards {
        display: grid;
        gap: $spacing4;
        max-height: 362px;
        overflow: auto;
      }
    }
  }
}
