@import 'styles/Variables';

.wrapper {
  display: grid;
  width: 91px;
  background-color: $white;
  border-right: 1px solid $grey-light;
  align-content: start;

  .item {
    cursor: pointer;
    height: 90px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: $spacing2;
    background-color: $white;
    transition: 0.2s;

    p {
      font-size: $font-extra-small;
    }

    svg {
      font-size: $font-h2;
    }

    &:hover {
      background-color: $green-light;
    }

    &.active {
      color: $white;
      background-color: $green;

      &:hover {
        background-color: $green;
      }
    }
  }
}
