@import 'styles/Variables';

.wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 0 $spacing5;
  position: relative;

  @media screen and (min-width: $tablet) {
    padding: 0 $spacing11;
  }

  .date {
    display: grid;
    gap: $spacing2;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    align-content: center;
    cursor: pointer;

    p {
      font-weight: $weight-bold;
    }
  }

  .icon-wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: $spacing6;
  }
}
