@import 'styles/Variables';

.wrapper {
  display: grid;
  grid-auto-rows: 1fr auto;
  gap: $spacing2;
  align-items: end;
  min-width: 45px;

  @media screen and (min-width: $tablet) {
    min-width: 60px;
  }

  .graph {
    height: 100%;
    background-color: $green-light;
    border: $border;
    display: grid;
    align-content: space-between;
    justify-items: center;

    .top {
      height: 12px;
      width: 100%;
      background-color: $green;
      font-size: $font-extra-small;
      color: $white;
      display: grid;
      justify-content: center;
      align-items: center;
      border-bottom: $border;

      @media screen and (min-width: $tablet) {
        height: 18px;
        font-weight: $weight-semi-bold;
      }
    }
  }

  .icon {
    color: $green;
    margin-bottom: $spacing2;
  }

  .name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: $font-small;
    box-shadow: inset 0 -7px 0px 0px $green-light;
    text-align: center;
    width: max-content;
    margin: 0 auto;
  }

  .mobile-values {
    display: grid;
    gap: $spacing1;
    justify-content: center;
    justify-items: center;

    .value {
      font-size: $font-extra-small;
      font-weight: $weight-semi-bold;
    }

    .icon {
      margin-bottom: 0;
    }
  }

  &.penalty {
    .graph {
      background-color: $red-light;
    }

    .name {
      box-shadow: inset 0 -7px 0px 0px $red-light;
    }

    .icon {
      color: $red;
    }

    .top {
      background-color: $red;
    }
  }
}
