@import 'styles/Variables';

.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  height: $app-height;
  gap: $spacing8;
  justify-items: center;
  align-content: center;
  text-align: center;
  padding: 0 $spacing4;

  .text {
    display: grid;
    gap: $spacing4;
    justify-items: center;

    h1 {
      @include underline;
    }

    p {
      font-size: $font-large;
      max-width: 800px;
      text-align: center;
    }
  }

  .buttons {
    display: grid;
    gap: $spacing4;
    justify-items: center;

    @media screen and (min-width: 350px) {
      grid-auto-flow: column;
    }
  }
}
