@import 'styles/Variables';

.page {
  display: grid;
  justify-content: center;
  align-items: center;
  height: $app-height;
  justify-items: center;
  align-content: center;
  padding: 0 $spacing4;

  .wrapper {
    display: grid;
    gap: $spacing8;
    justify-items: center;
    text-align: center;
    padding: $spacing8 $spacing6;
    background-color: $white;
    border: $border-light;

    .text {
      display: grid;
      gap: $spacing6;
      justify-items: center;

      h1 {
        @include underline;
      }

      p {
        max-width: 600px;
        text-align: center;
      }
    }

    .input-wrapper {
      display: grid;
      grid-template-columns: auto auto;

      input {
        width: 100px;
      }

      button {
        background-color: $green;
        height: 100%;
        padding-left: 2px;
        padding-right: calc($spacing3 + 2px);
        color: $white;
        svg {
          transform: scale(1.2);
        }
      }
    }
  }
}
