// font
$font: 'Inter', sans-serif;

// font-sizes
$font-h1: 40px;
$font-h2: 24px;
$font-h3: 20px;
$font-large: 18px;
$font-paragraph: 16px;
$font-small: 14px;
$font-extra-small: 12px;
$font-tiny: 10px;

// font-weight
$weight-normal: 400;
$weight-semi-bold: 600;
$weight-bold: 700;

// colors
$true-black: #000000;
$black: #282f36;
$grey: #a8acb1;
$grey-light: #eeeeef;
$white: #ffffff;
$red-dark: #e56856;
$red: #ff7360;
$red-light: #fff1ef;
$green-dark: #68b99a;
$green: #18e597;
$green-light: #e8fcf5;

// media queries
$phone: 525px;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1325px;

// spacing
$spacing1: 0.25rem;
$spacing2: 0.5rem;
$spacing3: 0.75rem;
$spacing4: 1rem;
$spacing5: 1.25rem;
$spacing6: 1.5rem;
$spacing7: 1.75rem;
$spacing8: 2rem;
$spacing9: 2.5rem;
$spacing10: 3rem;
$spacing11: 4rem;
$spacing12: 6rem;
$spacing13: 8rem;
$spacing14: 12rem;
$spacing15: 16rem;
$spacing16: 24rem;
$spacing17: 30rem;
$spacing18: 48rem;

// Border
$border-radius: 1px;
$border: 1px solid $black;

// App height
$app-height: var(--app-height);

@mixin underline {
  display: inline-block;
  box-shadow: inset 0 -12px 0px 0px $green-light;
}

@mixin underline-grey {
  display: inline-block;
  box-shadow: inset 0 -12px 0px 0px $grey-light;
}
