@import 'styles/Variables';

.wrapper {
  display: grid;

  .dates {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $spacing1;

    .date {
      font-size: $font-extra-small;
    }
  }

  .bar {
    border: $border;
    border-radius: $border-radius;
    background-color: $green-light;
    height: 15px;
    width: 100%;
    overflow: hidden;

    .progress {
      background-color: $green-dark;
      border-right: $border;
      height: 100%;
    }
  }
}
