@import 'styles/Variables';

.wrapper {
  display: grid;

  .dates {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $spacing1;

    .date {
      font-size: $font-extra-small;
    }
  }

  .bar {
    border: $border;
    border-radius: $border-radius;
    background-color: $green-light;
    height: 15px;
    width: 100%;
    overflow: hidden;

    .progress {
      background-color: $green-dark;
      border-right: $border;
      height: 100%;
      position: relative;

      .streak {
        white-space: nowrap; // Prevent line break
        position: absolute;
        top: -3.5px;
        left: 50%;
        transform: translateX(-50%);
        font-size: $font-tiny;
        font-weight: $weight-semi-bold;
        padding: $spacing1;
        color: $white;
        transition: 0.2s;

        svg {
          font-size: 8px;
          transform: translateY(-1px);
        }
      }
    }
  }
}
